<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asche.wetalk.mapper.TopicreplyMapper" >
  <resultMap id="BaseResultMap" type="com.asche.wetalk.entity.Topicreply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="topicId" property="topicid" jdbcType="INTEGER" />
    <result column="authorId" property="authorid" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="imgUrl" property="imgurl" jdbcType="VARCHAR" />
    <result column="videoUrl" property="videourl" jdbcType="VARCHAR" />
    <result column="likeNum" property="likenum" jdbcType="INTEGER" />
    <result column="commentNum" property="commentnum" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.asche.wetalk.entity.Topicreply" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, topicId, authorId, time, imgUrl, videoUrl, likeNum, commentNum
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.asche.wetalk.entity.TopicreplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from topicreply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.asche.wetalk.entity.TopicreplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from topicreply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from topicreply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from topicreply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.asche.wetalk.entity.TopicreplyExample" >
    delete from topicreply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.asche.wetalk.entity.Topicreply" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into topicreply (topicId, authorId, time, 
      imgUrl, videoUrl, likeNum, 
      commentNum, content)
    values (#{topicid,jdbcType=INTEGER}, #{authorid,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR}, 
      #{imgurl,jdbcType=VARCHAR}, #{videourl,jdbcType=VARCHAR}, #{likenum,jdbcType=INTEGER}, 
      #{commentnum,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asche.wetalk.entity.Topicreply" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into topicreply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="topicid != null" >
        topicId,
      </if>
      <if test="authorid != null" >
        authorId,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="imgurl != null" >
        imgUrl,
      </if>
      <if test="videourl != null" >
        videoUrl,
      </if>
      <if test="likenum != null" >
        likeNum,
      </if>
      <if test="commentnum != null" >
        commentNum,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="topicid != null" >
        #{topicid,jdbcType=INTEGER},
      </if>
      <if test="authorid != null" >
        #{authorid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="videourl != null" >
        #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="likenum != null" >
        #{likenum,jdbcType=INTEGER},
      </if>
      <if test="commentnum != null" >
        #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.asche.wetalk.entity.TopicreplyExample" resultType="java.lang.Integer" >
    select count(*) from topicreply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update topicreply
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.topicid != null" >
        topicId = #{record.topicid,jdbcType=INTEGER},
      </if>
      <if test="record.authorid != null" >
        authorId = #{record.authorid,jdbcType=INTEGER},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.imgurl != null" >
        imgUrl = #{record.imgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.videourl != null" >
        videoUrl = #{record.videourl,jdbcType=VARCHAR},
      </if>
      <if test="record.likenum != null" >
        likeNum = #{record.likenum,jdbcType=INTEGER},
      </if>
      <if test="record.commentnum != null" >
        commentNum = #{record.commentnum,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update topicreply
    set id = #{record.id,jdbcType=INTEGER},
      topicId = #{record.topicid,jdbcType=INTEGER},
      authorId = #{record.authorid,jdbcType=INTEGER},
      time = #{record.time,jdbcType=VARCHAR},
      imgUrl = #{record.imgurl,jdbcType=VARCHAR},
      videoUrl = #{record.videourl,jdbcType=VARCHAR},
      likeNum = #{record.likenum,jdbcType=INTEGER},
      commentNum = #{record.commentnum,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update topicreply
    set id = #{record.id,jdbcType=INTEGER},
      topicId = #{record.topicid,jdbcType=INTEGER},
      authorId = #{record.authorid,jdbcType=INTEGER},
      time = #{record.time,jdbcType=VARCHAR},
      imgUrl = #{record.imgurl,jdbcType=VARCHAR},
      videoUrl = #{record.videourl,jdbcType=VARCHAR},
      likeNum = #{record.likenum,jdbcType=INTEGER},
      commentNum = #{record.commentnum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.asche.wetalk.entity.Topicreply" >
    update topicreply
    <set >
      <if test="topicid != null" >
        topicId = #{topicid,jdbcType=INTEGER},
      </if>
      <if test="authorid != null" >
        authorId = #{authorid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="videourl != null" >
        videoUrl = #{videourl,jdbcType=VARCHAR},
      </if>
      <if test="likenum != null" >
        likeNum = #{likenum,jdbcType=INTEGER},
      </if>
      <if test="commentnum != null" >
        commentNum = #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.asche.wetalk.entity.Topicreply" >
    update topicreply
    set topicId = #{topicid,jdbcType=INTEGER},
      authorId = #{authorid,jdbcType=INTEGER},
      time = #{time,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      videoUrl = #{videourl,jdbcType=VARCHAR},
      likeNum = #{likenum,jdbcType=INTEGER},
      commentNum = #{commentnum,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asche.wetalk.entity.Topicreply" >
    update topicreply
    set topicId = #{topicid,jdbcType=INTEGER},
      authorId = #{authorid,jdbcType=INTEGER},
      time = #{time,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      videoUrl = #{videourl,jdbcType=VARCHAR},
      likeNum = #{likenum,jdbcType=INTEGER},
      commentNum = #{commentnum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="like" parameterType="java.lang.Integer">
    update topicreply set likeNum = likeNum + 1 where id = #{id}
  </update>

  <update id="unLike" parameterType="java.lang.Integer">
    update topicreply set likeNum = likeNum - 1 where id = #{id}
  </update>
</mapper>