<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<form action="/loginCheck" method="post">
    <table>
        <tr>
            <td>UserName:</td>
            <td><input name="username"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name="password" type="password"/></td>
        </tr>
        <tr>
            <td><input name="Submit" type="submit"></td>
        </tr>
    </table>
</form>

</body>
</html>